/* Add CSS Styling */

.odd-num{
    background-color: rgb(238, 53, 142);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#num-2{
    color: blue;
    font-size: 36px;
}

.odd-plus{
    font-size: 24px;
}

#num-4{
    background-color: rgb(142, 243, 142);
    font-size: 24px;
    font-weight: bold;
}